<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>series</key>
	<string>cq</string>
	<key>channelCounts</key>
	<dict>
		<key>aux</key>
		<integer>6</integer>
		<key>dca</key>
		<integer>4</integer>
		<key>fxReturn</key>
		<integer>4</integer>
		<key>fxSend</key>
		<integer>4</integer>
		<key>input</key>
		<integer>16</integer>
		<key>main</key>
		<integer>1</integer>
		<key>muteGroup</key>
		<integer>4</integer>
		<key>scene</key>
		<integer>100</integer>
		<key>st</key>
		<integer>2</integer>
		<key>usb</key>
		<integer>1</integer>
		<key>bt</key>
		<integer>1</integer>
		<key>keys</key>
		<integer>3</integer>
	</dict>
	<key>channelOffsets</key>
	<dict>
		<key>st</key>
		<integer>2</integer>
		<key>usb</key>
		<integer>2</integer>
		<key>bt</key>
		<integer>2</integer>
	</dict>
	<key>channelParameters</key>
	<dict>
		<key>mute</key>
		<dict>
			<key>input</key>
			<string>00 00</string>
			<key>fxReturn</key>
			<string>00 3C</string>
			<key>main</key>
			<string>00 44</string>
			<key>aux</key>
			<string>00 45</string>
			<key>fxSend</key>
			<string>00 51</string>
			<key>dca</key>
			<string>02 00</string>
			<key>muteGroup</key>
			<string>04 00</string>
			<key>st</key>
			<string>00 18</string>
			<key>usb</key>
			<string>00 1C</string>
			<key>bt</key>
			<string>00 1E</string>
		</dict>
		<key>level</key>
		<dict>
			<key>main</key>
			<string>4F 00</string>
			<key>aux</key>
			<string>4F 01</string>
			<key>fxSend</key>
			<string>4F 0D</string>
			<key>dca</key>
			<string>4F 20</string>
		</dict>
	</dict>
	<key>channelToChannelParameters</key>
	<dict>
		<key>sendLevel</key>
		<dict>
			<key>input</key>
			<dict>
				<key>main</key>
				<string>40 00</string>
				<key>aux</key>
				<string>40 44</string>
				<key>fxSend</key>
				<string>4C 14</string>
			</dict>
			<key>st</key>
			<dict>
				<key>main</key>
				<string>40 18</string>
				<key>aux</key>
				<string>42 64</string>
				<key>fxSend</key>
				<string>4C 74</string>
			</dict>
			<key>usb</key>
			<dict>
				<key>main</key>
				<string>40 1C</string>
				<key>aux</key>
				<string>43 14</string>
				<key>fxSend</key>
				<string>4D 04</string>
			</dict>
			<key>bt</key>
			<dict>
				<key>main</key>
				<string>40 1E</string>
				<key>aux</key>
				<string>43 2C</string>
				<key>fxSend</key>
				<string>4D 0C</string>
			</dict>
			<key>fxReturn</key>
			<dict>
				<key>main</key>
				<string>40 3C</string>
				<key>aux</key>
				<string>46 14</string>
				<key>fxSend</key>
				<string>4E 04</string>
			</dict>
		</dict>
		<key>pan</key>
		<dict>
			<key>input</key>
			<dict>
				<key>main</key>
				<string>50 00</string>
				<key>aux</key>
				<string>50 44</string>
			</dict>
			<key>st</key>
			<dict>
				<key>main</key>
				<string>50 18</string>
				<key>aux</key>
				<string>52 64</string>
			</dict>
			<key>usb</key>
			<dict>
				<key>main</key>
				<string>50 1C</string>
				<key>aux</key>
				<string>53 14</string>
			</dict>
			<key>bt</key>
			<dict>
				<key>main</key>
				<string>50 1E</string>
				<key>aux</key>
				<string>53 2C</string>
			</dict>
			<key>fxReturn</key>
			<dict>
				<key>main</key>
				<string>50 3C</string>
				<key>aux</key>
				<string>56 14</string>
			</dict>
		</dict>
	</dict>
	<key>softKeyParameters</key>
	<dict>
		<key>noteZero</key>
		<string>30</string>
		<key>pressVelocity</key>
		<string>7F</string>
		<key>releaseVelocity</key>
		<string>00</string>
	</dict>
	<key>panBalanceParameters</key>
	<dict>
		<key>-100</key>
		<string>00 00</string>
		<key>-90</key>
		<string>06 33</string>
		<key>-80</key>
		<string>0C 66</string>
		<key>-70</key>
		<string>13 19</string>
		<key>-60</key>
		<string>19 4C</string>
		<key>-50</key>
		<string>1F 7F</string>
		<key>-40</key>
		<string>26 32</string>
		<key>-30</key>
		<string>2C 65</string>
		<key>-20</key>
		<string>33 18</string>
		<key>-15</key>
		<string>36 32</string>
		<key>-10</key>
		<string>39 4B</string>
		<key>-5</key>
		<string>3C 65</string>
		<key>0</key>
		<string>40 00</string>
		<key>5</key>
		<string>43 18</string>
		<key>10</key>
		<string>46 32</string>
		<key>15</key>
		<string>49 4B</string>
		<key>20</key>
		<string>4C 65</string>
		<key>30</key>
		<string>53 18</string>
		<key>40</key>
		<string>59 4B</string>
		<key>50</key>
		<string>5F 7F</string>
		<key>60</key>
		<string>66 32</string>
		<key>70</key>
		<string>6C 65</string>
		<key>80</key>
		<string>73 18</string>
		<key>90</key>
		<string>79 4B</string>
		<key>100</key>
		<string>7F 7F</string>
	</dict>
	<key>levelParameters</key>
	<dict>
		<key>AudioTaper</key>
		<dict>
			<key>-100</key>
			<string>00 00</string>
			<key>-90</key>
			<string>00 00</string>
			<key>-89</key>
			<string>01 40</string>
			<key>-85</key>
			<string>02 00</string>
			<key>-80</key>
			<string>02 40</string>
			<key>-75</key>
			<string>03 40</string>
			<key>-70</key>
			<string>04 00</string>
			<key>-65</key>
			<string>05 00</string>
			<key>-60</key>
			<string>06 00</string>
			<key>-55</key>
			<string>07 00</string>
			<key>-50</key>
			<string>08 00</string>
			<key>-45</key>
			<string>0C 00</string>
			<key>-40</key>
			<string>0F 40</string>
			<key>-38</key>
			<string>12 40</string>
			<key>-36</key>
			<string>15 40</string>
			<key>-35</key>
			<string>17 00</string>
			<key>-34</key>
			<string>19 00</string>
			<key>-33</key>
			<string>1A 40</string>
			<key>-32</key>
			<string>1C 00</string>
			<key>-31</key>
			<string>1D 40</string>
			<key>-30</key>
			<string>1F 00</string>
			<key>-29</key>
			<string>20 40</string>
			<key>-28</key>
			<string>22 00</string>
			<key>-27</key>
			<string>23 40</string>
			<key>-26</key>
			<string>25 00</string>
			<key>-25</key>
			<string>26 40</string>
			<key>-24</key>
			<string>28 40</string>
			<key>-23</key>
			<string>2A 00</string>
			<key>-22</key>
			<string>2B 40</string>
			<key>-21</key>
			<string>2D 00</string>
			<key>-20</key>
			<string>2E 40</string>
			<key>-19</key>
			<string>30 00</string>
			<key>-18</key>
			<string>31 40</string>
			<key>-17</key>
			<string>33 00</string>
			<key>-16</key>
			<string>34 40</string>
			<key>-15</key>
			<string>36 00</string>
			<key>-14</key>
			<string>38 00</string>
			<key>-13</key>
			<string>39 40</string>
			<key>-12</key>
			<string>3B 00</string>
			<key>-11</key>
			<string>3C 40</string>
			<key>-10</key>
			<string>3E 00</string>
			<key>-9</key>
			<string>41 40</string>
			<key>-8</key>
			<string>44 40</string>
			<key>-7</key>
			<string>48 00</string>
			<key>-6</key>
			<string>4B 00</string>
			<key>-5</key>
			<string>4E 40</string>
			<key>-4</key>
			<string>52 40</string>
			<key>-3</key>
			<string>56 40</string>
			<key>-2</key>
			<string>5A 00</string>
			<key>-1</key>
			<string>5E 00</string>
			<key>0</key>
			<string>62 00</string>
			<key>1</key>
			<string>65 40</string>
			<key>2</key>
			<string>69 00</string>
			<key>3</key>
			<string>6C 40</string>
			<key>4</key>
			<string>70 00</string>
			<key>5</key>
			<string>73 40</string>
			<key>6</key>
			<string>75 40</string>
			<key>7</key>
			<string>78 00</string>
			<key>8</key>
			<string>7A 40</string>
			<key>9</key>
			<string>7D 00</string>
			<key>10</key>
			<string>7F 40</string>
		</dict>
	</dict>
</dict>
</plist>
